.formcontain label{
    color: rgb(17, 8, 8);
    font-weight: bolder;
}
.centers{
  font-size: larger;
    color: rgb(12, 12, 2);
    margin-top: 2px;
    text-align: center;
    font-weight: bolder;
}

.formcontain button:hover{
    color: blue;
    background-color: aliceblue;
}
.formcontain{
    border: 20px;
    background-color: rgb(248, 243, 247);
    border-radius: 20px;
}