/* Center Container */
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* LOGIN WRAPPER */
.login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  min-height: 450px;
  padding: 30px;
  background: linear-gradient(135deg, #e6e3e4, #146d96);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect */
.login:hover {
  transform: scale(1.03);
  box-shadow: 0 0 35px rgba(13, 214, 13, 0.6);
}

/* Title */
.login span {
  font-size: 26px;
  font-weight: 800;
  color: white;
  transition: 0.3s ease;
}

.login span:hover {
  color: rgb(231, 255, 2);
  transform: scale(1.05);
}

/* INPUT BOXES */
.login input {
  height: 45px;
  border-radius: 6px;
  border: none;
  text-align: center;
  font-size: 16px;
  outline: none;
  margin-top: 15px;
  transition: 0.3s ease;
}

.login input:hover,
.login input:focus {
  background-color: aquamarine;
  color: black;
  transform: scale(1.05);
}

/* BUTTON */
.login button {
  height: 45px;
  width: 200px;
  margin: auto;
  background-color: rgb(231, 2, 2);
  border-radius: 6px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease;
}

.login button:hover {
  background-color: rgb(13, 214, 13);
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(13, 214, 13, 0.6);
  color: black;
}

/* LINK TEXT */
.login .link p {
  font-size: 15px;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.login .link p:hover {
  color: yellow;
  text-decoration: underline;
}
