#carouselExample img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  padding: 10px;
  border-radius: 20px;
}

#carouselExample {
  margin-top: 30px;
}

@media (max-width: 768px) {
  #carouselExample img {
    height: 350px;
    
  }
}

@media (max-width: 480px) {
  #carouselExample img {
    height: 120px;
  }
}
